.container {
    height: 40px;
    min-width: 96px;
    padding-left: 10px;
    border: 1px solid #E0E1E2;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    background: url('../../assets/icons/arrow-down-icon.svg') no-repeat right #ffffff;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
}
