.container {
    display: flex;
    height: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.avatarContainer {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1E4DB;
}

.contentContainer {
    width: 90%;
    background: rgba(241, 228, 219, 0.35);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.check {
    height: 13px;
    width: auto;
    margin-right: 5px;
}

.adminText {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.contentFirstRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.contentLastRow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
}
