.container {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 37px;
    overflow: visible;
}

.inputContainer {
    height: 100%;
    margin: 0;
    border-radius: 4px 0 0 4px;
    border: 1px solid #E0E1E2;
    border-right-width: 0;
    display: flex;
    align-items: center;
    padding: 1px 0 1px 16px;
    overflow: visible;
}

.input {
    border: 0;
    padding: 0 16px 0 0;
}

.input:focus{
    outline: none;
}

.input::placeholder {
    color: rgba(0,0,0,0.6);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
